/*Header*/

.navbar-brand img {
    width: 50px;
    margin: 5%; 
}
  
#navbarNavAltMarkup {
    text-align: center; 
}

.custom-toggler.navbar-toggler {
    border: 0; 
}

.custom-toggler .navbar-toggler-icon {
    background-image: none; 
}

.nav-link:hover {
    color: #e99468 !important; 
}

/*Headers*/
h1 {
    font-family: Halant;
    font-size: 35px;
    font-style: bold;
}

h2 {
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Nunito Sans";
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}

h4 {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}


/*Main divs*/
.container {
    margin-top: 5%;
}

.event {
    flex-wrap: wrap;
}

/*Day div */
.dot {
    border-right: 5px solid rgb(224, 224, 224);
    position: relative;
    margin-left:20px;
    margin-right:20px;
    padding-right: 35px;
}

.dot:before {
    content: "";
    position: absolute;
    right:-15px;
    top: 48%;
    margin-top:-15px; 
    height: 25px;
    width: 25px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
}

.dot:after {
    content: "";
    position: absolute;
    right:-10px;
    top: 48%;
    margin-top:-10px; 
    height: 15px;
    width: 15px;
    background: white;
    border-radius: 50%;
}

/*Event div*/
.date, .event_title, .event_hour, .wrapper_badge {
    color: rgb(82, 82, 82);
}

.date_month, .event_address {
    color: rgb(196, 196, 196);
}

.event_title, .event_address, .event_hour, .wrapper_badge {
    display: flex;
    padding: 5px;
    align-items: center;
}

.event_time, .event_badge, .event_description {
    margin-left:3vw;
}

.event_title {
    text-decoration: none;

}

.event_address {
    text-decoration: none;
    outline:none;
}

.disabled {
    pointer-events: none;
}

.grey {
    background: rgba(128,128,128, 0.3) !important;
}

/* Tooltip container */
.tip {
    position: relative;
}

/* Tooltip text */
.tip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tiptext {
    visibility: visible;
    opacity: 1;
}

/***Media queries***/
@media (max-width: 992px) { 
    h1 {font-size: 30px;}
    h2 {font-size: 25px;}
    h3 {font-size: 20px;}
    h4 {font-size: 15px;}
}

@media (max-width: 411px) { 
    h1 {font-size: 25px;}
    h2 {font-size: 20px;}
    h3 {font-size: 15px;}
    h4 {font-size: 10px;}
    .dot {
        /*padding-right: 5px;*/
        padding-left: 10px;
    }
    .event_badge{
        width: 100px;
        align-items: center;
    }
}

@media (max-width: 768px) { 
    .event_badge{
        width: 90%;
        align-items: center;
    }
    .event_title, .event_address, .event_hour {
        text-align: center;
        justify-content: space-around;
    }
    .day {
        padding-top: 15px;
    }
    .event{
        justify-content: center;
    }
}


/* Arrow Button */
.container-arrow {
  margin-top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  color:#000;
  display: flex;
  justify-content: space-around;
  line-height: 40px;
  width:100%;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 12px; 

}
    
.container-arrow:hover, .container-arrow:focus {
  text-decoration: none;
}

.fa-angle-down, .fa-angle-up {
    font-size: 50px;
}

/* Arrow Bouncing */
.container-arrow span {
  display: inline-block;
  text-align: center; 
  font-size: 80px;  
  animation: .7s down infinite alternate; 
}


/***Animation Arrow down***/ 
@keyframes down { 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} } 
@-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(20px)} } 


/* Footer */
.footer {
    
    color: black;
    margin-top: 55px;
}

.footer .d-flex{
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-copyright text-center py-3{
    font-family: 'Nunito Sans', sans-serif;

}

.logo{
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.taille_image{
    width: 30px;
}

@media (max-width: 830px) { 
    .taille_image{
        width: 30px; }

    .logo{
        padding-top: 30px;
        margin-left: 35px;
        margin-right: 35px;}}

@media (max-width: 650px) { 
    .taille_image{
        width: 25px; }

    .logo{
        padding-top: 30px;
        margin-left: 35px;
        margin-right: 35px;}}

@media (max-width: 416px) { 
    .taille_image{
        width: 25px; }

    .logo{
        padding-top: 28px;
        margin-left: 18px;
        margin-right: 18px;}}

        

