body {
  background-image: url("../images/intro_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title, .baseline, .button {
  text-align: center;
  border: 2px  red;
}

.p_title, .p_baseline, .p_button{
  padding-top: 2vh ;
  padding-bottom: 2vh;
}
.p_title, .p_baseline{
  background-color: rgba(233,255,0,0.5);
  border: 2px  blue;
}

.p_baseline, .p_button{
  font-size: 25px;
  font-family: 'Roboto Mono';
  border: 2px  blue;
}

.title{
  margin-top: 60px;
}

.p_title{
  font-size: 50px;
   font-family: 'Space Mono';
   font-weight: bold;
}

.baseline{
  margin-top: 40px;
}

.p_baseline{
  padding-left: 8px;
  padding-right:8px;
}  

.button{
  margin-top: 180px; 
}

.p_button{
  background-color: rgba(255,255,0);
}

.p_button a{
  color:inherit;
}

@media (max-width: 418px){
  .p_title{
    font-size: 37px;
  }
}

@media (max-width: 767px){
  .button{
    margin-top: 150px;
  }
}

/*@media (max-width: 767px){
  .p_button{
    width:  ;
  }
}*/