.navbar-brand img{
  width:50px;
  margin:5%;
}

#navbarNavAltMarkup{
  text-align:center;
}

h1 {
    font-family: Halant;
    font-size: 35px;
    font-style: bold;
}

h2 {
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Nunito Sans";
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}

h4 {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

@media (max-width: 992px) { 
    h1 {font-size: 30px;}
    h2 {font-size: 25px;}
    h3 {font-size: 20px;}
    h4 {font-size: 15px;}
}

@media (max-width: 411px) { 
    h1 {font-size: 25px;}
    h2 {font-size: 20px;}
    h3 {font-size: 15px;}
    h4 {font-size: 10px;}
    .dot {
        padding-right: 10px;
    }
    .event_badge{
        width: 100px;
        align-items: center;
    }
}

.container {
    margin-top: 5%;
}

@media (max-width: 767px) { 
    .event_badge{
        width: 80%;
        align-items: center;
    }
    .event_title, .event_address {
        text-align: center;
        justify-content: space-around;
    }
    .day {
        padding-top: 15px;
    }
    .event{
        justify-content: center;
    }
}

.event {
    flex-wrap: wrap;
}

.dot {
    border-right: 5px solid rgb(224, 224, 224);
    position: relative;
    margin-left:20px;
    margin-right:20px;
    padding-right: 35px;
}

.dot:before {
    content: "";
    position: absolute;
    right:-15px;
    top: 48%;
    margin-top:-15px; 
    height: 25px;
    width: 25px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
}

.dot:after {
    content: "";
    position: absolute;
    right:-10px;
    top: 48%;
    margin-top:-10px; 
    height: 15px;
    width: 15px;
    background: white;
    border-radius: 50%;
}

.date, .event_title, .event_hour, .wrapper_badge {
    color: rgb(82, 82, 82);
}

.date_month, .event_address {
    color: rgb(196, 196, 196);
}

.event_title, .event_address, .event_hour, .wrapper_badge {
    display: flex;
    padding: 5px;
    align-items: center;
}

.event_title {
    text-decoration: none;

}

.event_address {
    text-decoration: none;
    outline:none;
}

.event_hour {
    text-decoration: none;
    color: rgb(82, 82, 82);
    height:100%;
}

#open-close-button {
    border-radius: 100%;
    margin: 2vw;
}


/* Arrow Button */
.container-arrow {
  margin-top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  color:#000;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  /*position: absolute;
  bottom:0;left:0;*/
  width:100%;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 12px; 
}
    
.container-arrow:hover, .container-arrow:focus {
  text-decoration: none;
}

/* Arrow Bouncing */
.container-arrow span {
  display: inline-block; 
  font-size: 80px;  
  animation: .7s down infinite alternate; 
} 

/***Animation Arrow down***/ 
@keyframes down { 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} } 
@-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(20px)} } 
        

