h1 {
    font-family: Halant;
}

h2 {
    font-family: 'Nunito Sans';
}

@media (max-width: 811px) { 
    .event_badge{
        width: 300px;
        align-items: center;
    }
    .event_title, .event_address {
        text-align: center;
    }
    .event{
        justify-content: center;
    }
}

/*@media (min-width: 768px) { 
    .event{
        flex-direction: row;
    }
}*/

.event {
    flex-wrap: wrap;
    padding-right: 15;
}

.dot {
    border-right: 5px solid rgb(224, 224, 224);
    position: relative;
    margin-left:20px;
    margin-right:20px;
    padding-right: 15px;
}

.dot:before {
    content: "";
    position: absolute;
    right:-14px;
    top: 48%;
    margin-top:-14px; 
    height: 25px;
    width: 25px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
}

.dot:after {
    content: "";
    position: absolute;
    right:-9px;
    top: 48%;
    margin-top:-9px; 
    height: 15px;
    width: 15px;
    background: blue;
    border-radius: 50%;
}

.date, .event_title, .event_hour, .wrapper_badge {
    color: rgb(82, 82, 82);
}

.date_month, .event_address {
    color: rgb(196, 196, 196);
}

.event_title, .event_address, .event_hour, .wrapper_badge {
    display: flex;
    padding: 5px;
    align-items: center;
}

/*.wrapper_badge {
    content:
}*/

.event_title {
    text-decoration: none;
/*    text-decoration: none solid rgb(82, 82, 82);
    outline: rgb(82, 82, 82) none 0px;*/

}

.event_address {
    text-decoration: none;
    outline:none;
    /*text-decoration: none solid rgb(169, 169, 169);
    outline: rgb(169, 169, 169) none 0px;*/

}

.event_hour {
    text-decoration: none;
    color: rgb(82, 82, 82);
/*    outline: rgb(82, 82, 82) none 0px;*/
    height:100%;
}