.navbar-brand img{
  width:50px;
  margin:5%;
}

#navbarNavAltMarkup{
  text-align:center;
}


.biographie{
	margin-left : 20px;
	margin-right: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
}

h2{
	text-align: center;
	font-family: "Halant";
}

p{
	font-family: "Nunito Sans";
}

.container_bio{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	border: 1px  pink;
}

.bio_col_1_photo{
	text-align: center;
}

.bio_photo{
	width: 100%;
	max-width: 450px;
	border-radius: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.bio_col_2_content{
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 900px;
}

.bio_content{
	margin-right: 50px;
}

.bio_col_3_reseaux{
	text-align: center;
}

.bio_fb, .bio_insta{
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-12, .col-md, .col-lg, .col-sm-12, .col-md-12, .col-xl-7, .col-lg-5, .col-xl-5{
	border: 1px solid white;
}

@media (max-width: 991px){
  .bio_content{
    margin-right: 0;
  }
}