.footer {
    
    color: black;
    margin-top: 55px;
    position: static;
}

.footer-copyright text-center py-3{
	font-family: 'Nunito Sans', sans-serif;

}

.logo{
	width: 14.5%;
	padding-top: 30px;
}