img {
	width: 100%;
}

p {
	font-size: 14px;
}


.miniature {

    padding: 10px;
}
#button-container {
	text-align: center;
}
#open-close-button {
	border-radius: 100%;
	margin: 2vw;
}
.modal-lg{
	max-width: 68%;
}


hr {
	width:70%;
	color: black;
	align-self: center;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.col-xl-9 img {
	width: 100%;
	padding: 10px;
}

.titlepictureright {
	background-color: rgba(245,245,255, 0.8);
	position: relative;
	right: 7vw;
	text-align: center;
	align-content: center;
	margin: 4px;
}

 .titlepictureleft {
	background-color: rgba(245,245,255, 0.8);
	position: relative;
	left: 7vw;
	text-align: center;
	align-content: center;
	margin: 4px;
	z-index: 1;
} 	
 


.text {
	font-size: 15px;
	text-align: justify;
	margin-right: 10px;
	margin-left: 10px;
	
}


.minimap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@media (min-width: 1350px) {
	.minimap {
		margin-top: 5vw;
	}
	.text {
		margin-top: 3vw;
		text-align: justify;

	}

	}

@media (min-width: 1200px) and (max-width: 1350px)  {
	.minimap {
		margin-top: 1vw;
	}
	.text {
		margin-top: 2vw;
		text-align: justify;
		margin-right: 10px;
		margin-left: 10px;

	}

	}

@media (min-width: 480px) and (max-width: 1200px) {
	.containerfextablette {
		display: flex;
		align-items: center;
		}
	

	.titlepictureright, .titlepictureleft {
		background-color: none;
		position: relative;
		align-content: center;
		right: 0vw;
		left: 0vw;
		text-align: center;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		}

	.minimap {
		display: block;
		max-width: 80px;
		width: 20%;
    	margin-right: auto;
    	margin-left: auto;
 	}

 	.text {
 		display: block;
 		width:80%;
 		margin:1em;
 		text-align: justify;
 		margin-right: 10px;
 	}

}



@media (max-width: 480px) {

	.titlepictureright, .titlepictureleft {
		position: relative;
		align-content: center;
		right: 0vw;
		left: 0vw;
		text-align: center;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		}

	.text {
		width:100%;
		margin-right: 10px;
		margin-left: 10px;
	}

}



