body {
  background-image: url("http://image.noelshack.com/fichiers/2018/37/3/1536747223-paris-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title, .baseline, .button {
  text-align: center;
  border: 2px  red;
}

.p_title, .p_baseline{
  background-color: rgba(255,255,0,0.5);
  border: 2px  blue;
}

.p_baseline, .p_button{
  font-size: 25px;
  font-family: 'Roboto Mono';
  border: 2px  blue;
}

.title{
  margin-top: 30px;
}

.p_title{
  font-size: 50px;
   font-family: 'Space Mono';
   font-weight: bold;
}

.baseline{
  margin-top: 20px;
}

.p_baseline{
}  

.button{
  margin-top: 180px;
}

.p_button{
  background-color: rgba(255,255,0);
  color:inherit;
}

@media (max-width: 418px){
  .p_title{
    font-size: 39px;
  }
}

