
img {
	width: 100%;
}

p {
	font-size: 14px;
}

.miniature {

    padding: 10px;
    opacity: 0.8;
}

.miniature:hover{
	opacity: 1;
}

#button-container1, #button-container2, #button-container3, #button-container4, #button-container5, #button-container6, #button-container7, #button-container8 {
	text-align: center;
}
#open-close-button1, #open-close-button2, #open-close-button3, #open-close-button4, #open-close-button5, #open-close-button6, #open-close-button7, #open-close-button8 {
	border-radius: 100%;
	margin: 2vw;
}
.modal-lg{
	max-width: 68%;
}

hr {
	width:70%;
	color: black;
	align-self: center;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.col-xl-9 img {
	width: 100%;
	padding: 10px;
}

.titlepictureright {
	background-color: rgba(245,245,255, 0.8);
	position: relative;
	right: 7vw;
	text-align: center;
	align-content: center;
	margin: 4px;
}

 .titlepictureleft {
	background-color: rgba(245,245,255, 0.8);
	position: relative;
	left: 7vw;
	text-align: center;
	align-content: center;
	margin: 4px;
	z-index: 1;
}

.text {
	font-size: 15px;
	text-align: justify;
	margin-right: 10px;
	margin-left: 10px;

}

figure {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 100px;

}

figure img {
	min-width: 80px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;

}

figure:hover img {
	-webkit-transform: translateY(-5px);
  	transform: translateY(-5px);

}

figcaption {
	font-size: 12px;
	text-align: center;
	transition-property: color;
	transition-duration: 0.5s;
}

figure:hover figcaption {
	color: #E99468;
}


.minimap {
    width: 20%;
    min-width: 100px;
    margin-right: 40%;
    margin-left: 40%;
}

@media (min-width: 1350px) {
	.minimap {
		margin-top: 5vw;
	}
	.text {
		margin-top: 3vw;
		text-align: justify;

	}

	}

@media (min-width: 1200px) and (max-width: 1350px)  {
	.minimap {
		margin-top: 1vw;
	}
	.text {
		margin-top: 2vw;
		text-align: justify;
		margin-right: 10px;
		margin-left: 10px;

	}

	}

@media (min-width: 480px) and (max-width: 1200px) {
	.containerfextablette {
		display: flex;
		align-items: center;
		}

	.titlepictureright, .titlepictureleft {
		background-color: none;
		position: relative;
		align-content: center;
		right: 0vw;
		left: 0vw;
		text-align: center;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		}

	.minimap {
		display: block;
		max-width: 80px;
		width: 20%;
    	margin-right: auto;
    	margin-left: auto;
 	}

 	.text {
 		display: block;
 		width:80%;
 		margin:1em;
 		text-align: justify;
 		margin-right: 10px;
 	}

}



@media (max-width: 480px) {

	.titlepictureright, .titlepictureleft {
		position: relative;
		align-content: center;
		right: 0vw;
		left: 0vw;
		text-align: center;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		}

	.text {
		width:100%;

		margin-right: 10px;
		margin-left: 10px;
	}

}
