@media (max-width: 991.99px) {
	.commentaire-map{
		margin-top: 31px;
		margin-bottom: 13PX;}}

@media (min-width: 992px) and (max-width: 1248.00px) { 
	.commentaire-map{
		margin-bottom: 40px; }}

@media (min-width: 1248.01px) and (max-width: 1286.00px) { 
	.commentaire-map{
		margin-bottom: 60px; }}

@media (min-width: 1286.01px) and (max-width: 1360.00px) { 
	.commentaire-map{
		margin-bottom: 40px; }}

@media (min-width: 1361px) {
	.commentaire-map{
		margin-bottom: 41px;
	 }}

.global{
	display: flex;
	justify-content: space-around;
}

.formulaire{	
	width: 100%;
}

.navbar-brand img{
  width:50px;
  margin:5%;
}

#navbarNavAltMarkup{
  text-align:center;
}


.nunito-sans{
	font-family: 'Nunito Sans', sans-serif;

}

.titre{
	font-family: 'Halant', serif;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 45px;

}

.commentaire-map{
	font-style: italic;
	font-family: 'Nunito Sans', sans-serif;
}



.commentaire-formulaire{
	font-style: italic;
	font-family: 'Nunito Sans', sans-serif;
}

.nom{
	margin-bottom: 5px;
}

.email{
	margin-bottom: 5px;
}

.demandes{
	margin-bottom: 5px;
}

.message{
	margin-bottom: 5px;
}

.bouton{
	margin-top: 16px;
}

