.global{
	display: flex;
}

.map{
	margin-left: 35px;
	border: 10px solid red;
	width: 765px;
}

.formulaire{
	width: 50%;
}

.form-control{
	opacity: 0%;
}

.fond{
	background-image: url();
	
}

.bouton{
	margin-top: 10px;
}

.serif{
	font-family: serif;
	color: #333333;
}

.commentaire{
	font-style: italic;
	font-family: serif;
}